/target/
/build/
**/node_modules/
/dist/
/ui/dist/
.env
.env.*
!.env.example
*.log
*.so
*.a
/control-plane/data/
/data/
*.db
*.db-wal
*.db-shm
/control-plane/internal/console/dist/*
!/control-plane/internal/console/dist/index.html
