[Unit]
Description=Aurora API Gateway Control Plane Service
Documentation=https://github.com/phucle996/aurora-api-gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=aurora
Group=aurora

StateDirectory=aurora
ConfigurationDirectory=aurora
ConfigurationDirectoryMode=0750
RuntimeDirectory=aurora
RuntimeDirectoryMode=0750

Environment="AURORA_HTTP_ADDR=0.0.0.0:8080"
Environment="AURORA_GRPC_ADDR=0.0.0.0:9099"
Environment="AURORA_SQLITE_PATH=/var/lib/aurora/data/aurora.db"
Environment="AURORA_ADMIN_TOKEN_FILE=/etc/aurora/admin.token"
EnvironmentFile=-/etc/aurora/controller.env

ExecStart=/usr/local/bin/aurora-controller

ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/aurora
ReadOnlyPaths=/etc/aurora
NoNewPrivileges=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes

Restart=on-failure
RestartSec=3s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
